{% extends 'base.html' %}
{% block content %}
    
    {% if object %}
        <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
    {% else %}
        <h1 style="font-weight:bold">Add Equipment</h1>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit!" class="btn blue darken-1">
    </form>

    <div class="center">
        <img src="https://img.freepik.com/premium-vector/women-gym-club-doing-bench-press-room-with-sport-equipment-workouts-flat-cartoon-illustration_118813-23551.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1708041600&semt=ais">
    </div>

{% endblock %}
