{% extends 'base.html' %}
{% block content %}

{% if object %}
    <h1>Edit <span class ="teal-text">{{object.day_of_the_week}}</span></h1>
{% else %}    
    <h1 style="font-weight:bold">Add Routine</h1>
{% endif %}    

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn blue darken-1">
</form>

<script>
    const selectEl = document.getElementById('id_focus_area');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}
