option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fithub.wsgi:application

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/cfn-init.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/cfn-init.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/eb-activity-log.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/eb-activity.log

container_commands:
  00_activate:
    command: "source /var/app/venv/*/bin/activate"
    leader_only: true
  01_check_python_version:
    command: "python3 --version && which python3"
    leader_only: true
  02_set_pythonpath:
    command: "export PYTHONPATH=$PYTHONPATH:/var/app/venv/*/lib/python3.9/site-packages"
    leader_only: true
  03_echo_pythonpath:
    command: "echo $PYTHONPATH"
    leader_only: true
  04_install_requirements:
    command: "pip3 install -r requirements.txt"
    leader_only: true
  05_check_installed_packages:
    command: "pip3 freeze"
    leader_only: true
  06_test_db_connection:
    command: "python3 manage.py dbshell -c 'SELECT 1;'"
    leader_only: true
  07_migrate:
    command: "python3 manage.py migrate --noinput"
    leader_only: true
  08_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
    leader_only: true
