option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fithub.wsgi:application

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/cfn-init.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/cfn-init.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/eb-activity-log.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/eb-activity.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/pip_freeze.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/pip_freeze.log

container_commands:
  00_activate:
    command: "source /var/app/venv/*/bin/activate"
    leader_only: true
  01_check_installed_packages:
    command: "pip3 freeze > /var/log/pip_freeze.log"
    leader_only: true
  02_test_db_connection:
    command: "python3 manage.py dbshell -c 'SELECT 1;'"
    leader_only: true
  03_migrate:
    command: "python3 manage.py migrate --noinput"
    leader_only: true
  04_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
    leader_only: true
