option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fithub.wsgi:application

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  03_gunicorn:
    command: "source /var/app/venv/*/bin/activate && gunicorn --workers 3 --bind 0.0.0.0:8080 fithub.wsgi:application"
