{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col s6">
        <h1 style="font-weight:bold">Routine Details</h1>
        <div class="card yellow lighten-4">
            <div class="card-content black-text" style="height:200px">
                <span class="card-title">{{ routine.day_of_the_week }}</span>
                <p>Focus Area: {{ routine.get_focus_area_display }}</p>
                <p>Time Goal: {{ routine.time_goal }}</p>
                <p>Calorie Goal: {{ routine.calorie_goal }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'routines_update' routine.id %}">Edit</a>
                <a href="{% url 'routines_delete' routine.id %}">Delete</a>
            </div>    
        </div>
    </div>
    <div class="col s6">
        <h4 style="text-align:center; margin-top:100px;">Equipment Needed for Routine</h4>
        {% if routine.equipments.count %}
            {% for equipment in routine.equipments.all %}
                <div class="card yellow darken-3">
                    <div class="card-content">
                        <span class="card-title">{{ equipment.name }}</span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'unassoc_equipment' routine.id equipment.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn blue darken-1">Remove</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h6 style="text-align:center">No Equipment</h6>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col s6">
        <form action="{% url 'add_exercise' routine.id %}" method="POST">
            {% csrf_token %}
            {{ exercise_form.as_p }}
            <input type="submit" class="btn blue darken-1" value="Add Exercise">
        </form>
    </div>
    <div class="col s6">
        <h4 style="text-align:center">Available Equipment</h4>
        {% if equipments.count %}
            {% for equipment in equipments.all %}
                <div class="card pink accent-1">
                    <div class="card-content">
                        <span class="card-title">{{ equipment.name }}</span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'assoc_equipment' routine.id equipment.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn blue darken-1">Add</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h6 style="text-align:center">{{routine.name}} All Equipment In Use</h6>
        {% endif %}
    </div>
</div>

<div class="row">
    <h3 style="text-align:center">Exercise Records</h3>
    <table class="striped centered">
        <thead>
            <tr>
                <th>Date</th><th>Exercise</th><th>Sets</th><th>Reps</th><th>Weight</th><th></th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in routine.exercise_set.all %}
                <tr>
                    <td>{{exercise.date}}</td>
                    <td>{{exercise.get_name_display}}</td>
                    <td>{{exercise.sets}}</td>
                    <td>{{exercise.reps}}</td>
                    <td>{{exercise.weight}}</td>
                    <td>
                        <a href="{% url 'delete_exercise' routine.id exercise.id %}">
                            <i class="material-icons blue-text darken-1">delete_forever</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>
<br>
<div class="row">
    <img class="responsive-img" style="width:275px; display:block; margin:auto;" src="{% static 'images/fithub.png' %}">
</div>

<script>
    const dateEl = document.getElementById('id_date');
    // M is Materialize's global variable
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    const selectEl = document.getElementById('id_name');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}
